.goodspage{
	width:100%;
	height:100%;
	font-family:yofont;
	.head {
        text-align: center;
        height: 35px;
        line-height: 35px;
        font-size:.12rem;
        color:#999;
        }
        .head img {
            width:.2rem;
            height:.2rem;
            display: inline-block;
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            transition: transform 150ms;
            -webkit-transition: transform 150ms;
        }
        .up {
            transform: rotate(360deg) !important;
            -webkit-transform: rotate(360deg) !important;
        }
        .down {
            transform: rotate(180deg) !important;
            -webkit-transform: rotate(180deg) !important;
        }
	>nav{
		padding:0 .04rem;
		#listUl{
			@include flexbox(flex);
			height:.35rem;
			width:100%;
			margin:.07rem 0 .11rem 0;
			.active{
			    background:#d37200;	
			    color:#fff;
			}
			li{
				@include flex(1);
				@include box-sizing(border-box);
				border:1px solid #d37200;
				text-align:center;
				line-height:.35rem;
				font-size:.12rem;
				&:nth-child(1){
					border-bottom-left-radius:.2em;
					border-top-left-radius:.2em;
				}
			}
		}
	}
	.goodscroll,.goodscroll2,.goodscroll3{
		width:100%;
		height:100%;
		 .group{
            @include flexbox(flex);
            background:#fff;
            margin-bottom:.02rem;
            >div{
                @include flex(1);
                // @include ellipsis(true);
                p:nth-child(1){
                    line-height:.25rem;
                    font-size:12px;
                    font-weight:bold;
                }
                p:nth-child(2){
                    color:#a7a7a7;
                    font-size:10px; 
                    line-height:1.2; 
                    overflow : hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp:2;
                    -webkit-box-orient: vertical;
                }
                .money{
                    display:block;
                    color:#d37201;
                    text-align:right;
                    font-size:12px;
                } 
            }
            i{  
                @include flexbox(flex);
                @include justify-content(center);
                @include align-items(center); 
                font-size:.3rem;
                color:#cdcdcd;
            }
            img{
                width:.71rem;
                height:.71rem;
                padding:.05rem;
            }
        }
	}
	 
}
.mypage{
	font-family:yofont;
	width:100%;
	height:100%;
	.personLogin{
		width:100%;
		height:1.19rem;
		background:url('/dessertApp/images/person_bg.png');
		background-size:100%;
		@include flexbox(flex);	
        @include align-items(center); 
		img{
			width:.55rem;
			height:.55rem;
			padding:0 .18rem;
		}
		>p{
			@include flex(1);
			@include flexbox(flex);
			@include flex-direction(column);
			.ione{
				color:#000;
				font-size:.16rem;
			}
			.itwo{
				color:#fff;
				font-size:.18rem;
			}
			
		}
		>i{
			font-size:.16rem;
			padding-right:.18rem;
			color:#5c5d5e;
		}
	}
	.card{
		width:100%;
		height:.51rem;
		background:#fff;
		@include flexbox(flex);
		@include align-items(center); 
		@include box-sizing(border-box);
		border-bottom:2px solid #c7c7c7;
		>p{
			@include flex(1);
			color:#333;
			font-size:.12rem;
		}
		i:nth-child(1){
			background:#63afb2;
			color:#fff;
			width:.25rem;
			height:.25rem;
			font-size:.2rem;
			margin:0 .18rem;
			text-align: center;
    		line-height: .25rem;
		}
		i:nth-child(3){
			font-size:.16rem;
			padding-right:.18rem;
			color:#dddddd;
		}

	}
}
.storepage{
	font-family:yofont;
	width:100%;
	height:100%;
	.storeBot{
		@include flex(1);
		@include box-sizing(border-box);
		padding:.05rem;
		width:100%;
		.storeDiv1{
			@include flexbox(flex);
			width:100%;
			height:.8rem;
			background:#fff;
			margin-bottom:2px;
			img{
				width:.71rem;
				height:.71rem;
				padding:.04rem;
			}
			>div{
				@include flex(1);
				p:nth-child(1){
					color:#474747;
					line-height:.28rem;
				}
				p:nth-child(2){
					color:#d5d5d5;
					font-size:10px;
				}
			}
			.paddingP{
				padding-left:.1rem;
			}
			>i{
				font-size:.16rem;
				padding-right:.07rem;
				color:#d5d5d5;
				line-height:.8rem;
			}
		}
		.storeDiv2{
			width:100%;
			height:.8rem;
			@include flexbox(flex);
		}
	}
}