.loginpage{
	width:100%;
	height:100%;
	font-family:yofont;
	@include flexbox(flex);
	@include flex-direction(column);
	.loginBot{
		@include flex(1);
		@include box-sizing(border-box);
		width:100%;
		padding:.2rem .12rem;
		div{
			@include flexbox(flex);
			span{
				width:.5rem;
				height:.48rem;
				background:#fff;
				text-align:center;
				line-height:.48rem;
				font-size:.14rem;
				color:#b1b1b1;
			}
		}
		input{
			@include flex(1);
			border:none;
			height:.48rem;
			border-bottom:1px solid #eaeaea;
		}
		p{
			color:#fa8d2e;
			text-align:right;
			line-height:.25rem;
			font-size:12px;
		}
		#btn{
			background:#d37200;
			width:100%;
			border:none;
			color:#fff;
			margin-top:.12rem;
			border-radius:.05rem;
		}

	}
}
.registerpage{
	width:100%;
	height:100%;
	font-family:yofont;
	@include flexbox(flex);
	@include flex-direction(column);
	.registerBot{
		@include flex(1);
		@include box-sizing(border-box);
		width:100%;
		padding:.2rem .12rem;
		.formDiv1{
			@include flexbox(flex);
			span{
				width:.5rem;
				height:.44rem;
				background:#fff;
				text-align:center;
				line-height:.44rem;
				font-size:.14rem;
				color:#b1b1b1;
			}
			input{
				@include flex(1);
				border:none;
			}
		}
		.formDiv2{
			@include flexbox(flex);
			margin-top:.12rem;
			input{
				border:none;
				width:1.83rem;
				height:.44rem;
			}
			span{
				@include flex(1);
			}
			i{
				width:.98rem;
				height:.44rem;
				background:#d37200;
				color:#fff;
				border-radius:.05rem;
				text-align:center;
				line-height:.44rem;
			}
		}
		.formDiv3{
			@include flexbox(flex);
			font-size:12px;
			height:.5rem;
			@include align-items(center);
			>span{
				padding:0 .1rem;
			}
			a{
				color:#ff5e00;
				text-decoration:underline;
			}
			i{
				color:#ccc;
				font-size:.18rem;
			}
			
		}
		#next{
			width:100%;
			height:.47rem;
			background:#d37200;
			color:#fff;
			border:none;
			border-radius:.05rem;
		}
	}
}
.datapage{
	font-family:yofont;
	@include flexbox(flex);
	@include flex-direction(column);
	width:100%;
	height:100%;
	background:#e7e7e7;
	.dataBot{
		@include flex(1);
		@include box-sizing(border-box);
		width:100%;
		padding:.04rem;
		>div{
			.dataDiv2{
			height:.53rem;
			.dataP{
				@include justify-content(center);
				color:#595959;
			}
		}
		div{
			@include flexbox(flex);
			@include align-items(center);
			@include box-sizing(border-box);
			padding-left:.2rem;
			width:100%;
			height:.75rem;
			background:#fff;
			margin-bottom:.04rem;
			span{
				color:#555;
			}
			p{
				@include flex(1);
				@include flexbox(flex);
				@include justify-content(flex-end);
				img{
				
				width:.45rem;
				height:.45rem;	
				}
			}
			i{
				font-size:.2rem;
				padding:0 .2rem;
				color:#c3c3c3;
			}
		}
		}
		

	}

}
.positionpage{
	@include flexbox(flex);
	width:100%;
	height:100%;
	@include flex-direction(column);
	.positionBot{
		@include flex(1);
		@include box-sizing(border-box);	
		width:100%;
		background:#e7e7e7;
		padding:.05rem;
		color:#333;
		#city{
			width:100%;
			height:.45rem;
			border:none;
			color:#7b7b7b;
			margin-bottom:.1rem;
		}
		div{
			width:100%;
			margin-bottom:.07rem;
			font-size:12px;
			p:nth-child(1){
				width:100%;
				height:.25rem;
				background:#f8f8f8;
				@include box-sizing(border-box);
				padding-left:.05rem;
				line-height:.25rem;
			}
			p:nth-child(2){
				width:100%;
				height:.4rem;
				background:#fff;
				@include box-sizing(border-box);
				padding-left:.05rem;
				line-height:.4rem;
			}
		}	
		.posiP{
			position:absolute;
			@include flexbox(flex);
			@include flex-direction(column);
			font-size:12px;
			width:.25rem;
			bottom:0;
			right:0;
			text-align:center;
		}
		
	}

}