.sellerpage{
	width:100%;
	height:100%;
	@include flexbox(flex);
	@include flex-direction(column);
	background:#f4f4f4;
	.sellBot{
		@include flex(1);
		width:100%;
		overflow:hidden;
		>div{
			width:100%;
			@include box-sizing(border-box);
			width:100%;
			padding:.33rem;
			}
		#seller-swiper{
			height:1.92rem;
			width:100%;
			position:relative;
			.swiper-pagination-bullets{
				bottom:0;
				.swiper-pagination-bullet{
					margin:0 2px;
					width:6px;
					height:6px;
					background:#eee;
				}
				.swiper-pagination-bullet-active{
					background:#fff;
				}
			}
			.pagination-side{
				position:absolute;
				width:100%;
				height:.21rem;
				background:#000;
				opacity:.3;
				bottom:0;
				z-index:5;
			}
		}
		.pai{
			width:100%;
			height:.32rem;
			line-height:.32rem;
			background:#c89c17;
			color:#fff;
			margin-top:.1rem;
			padding-left:.05rem;
			@include box-sizing(border-box);
		}
		.sellContent{
			background:#fafafa;
			font-size:10px;
			color:#555;
		}
	}
}
.memberpage{
	width:100%;
	height:100%;
	.menberBot{
		@include flex(1);
		@include flexbox(flex);
		@include box-sizing(border-box);
		width:100%;
		padding:.22rem;
		img{
			width:100%;
			height:1.93rem;
		}
	}
}
.orderpage{
	font-family:yofont;
	width:100%;
	height:100%;
	.orderBot{
		@include flex(1);
		@include box-sizing(border-box);
		padding:.04rem;
		width:100%;
		.orderDiv1{
			@include flexbox(flex);
			width:100%;
			height:.7rem;
			background:#fff;
			border-bottom:2px solid #e5e5e5;
			>div{
				@include flex(1);
				@include box-sizing(border-box);
				padding-left:.05rem;
				p:nth-child(1){
					color:#3d3d3d;
					line-height:.37rem;
				}
				p:nth-child(2){
					color:#9b9b9b;
					font-size:10px;
				}

			}
			>i{
				line-height:.7rem;
				font-size:.21rem;
				color:#e6af6f;
				padding-right:.15rem;
			}
		}
	}
}
.opinionpage{
	width:100%;
	height:100%;
	background:#e7e7e7;
	.opinionBot{
		padding:.12rem;
		form{
			width:100%;
			position:relative;
			textarea{
			width:100%;
			height:1.79rem;
			border:none;
			}
			p{
				position:absolute;
				right:.03rem;
				top:1.55rem;
				color:#d6d6d6;
			}
			label{
				height:.38rem;
				line-height:.38rem;
			}
			#text{
				width:100%;
				height:.38rem;
				margin-bottom:.12rem;
				border:none;
			}
			#button{
				width:100%;
				height:.38rem;
				color:#fff;
				background:#ff7700;
				border:none;
			}
		}
		
	}
}
.aboutpage{
	width:100%;
	height:100%;
	@include flexbox(flex);
	@include flex-direction(column);
	.aboutBot{
		@include flex(1);
		width:100%;
		// background:url('/dessertApp/images/about.png');
		position:relative;
		img{
			position:absolute;
			width:100%;
			height:100%;
		}
	}
}
.menupage{
	@include flexbox(flex);
	@include flex-direction(column);
	width:100%;
	height:100%;
	.i{
		transform: rotate(180deg) !important;
        -webkit-transform: rotate(180deg) !important;
	}
	.menuBot{
		@include flexbox(flex);
		@include align-items(center);
		@include flex(1);
		width:100%;

		ul{
			@include flexbox(flex);
			@include box-sizing(border-box);
			width:100%;
			padding:.03rem;
			li{
				@include flex(1);
				height:.35rem;	
				text-align:center;
				line-height:.35rem;	
				font-size:.12rem;
			}
			.li{
				background:#fff;
				margin-right:.05rem;
			}
			.active{
				background:#d37200;
				color:#fff;
			}
		}
		

	}
	
}
.mask{
	  position: relative;
	  height: 100%;
	  width: 100%;
	  background: rgba(0,0,0,.5);
	}